body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: rgb(253, 244, 230);
}

footer{
    text-align: center;
    padding: 40px;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    max-width: 600px;
    background-color: #f5f5f5;
    height: 80px;
}

table td {
    padding: 0px;
    vertical-align: top;
    height: 100px;
}

table img {
    max-width: 100%;
    display: block;
    margin: 0px;
    width: 300px; /* Ajusta el ancho según tus preferencias */
    height: 449px;
    border-radius: 7px; /* Ejemplo de esquinas redondeadas */
    margin-top: 0px;
}

.custom-button {
    font-size: 14px; /* Ajusta el tamaño de fuente según tus preferencias */
    padding: 16px 50px; 
    background-color: rgb(1, 117, 117);
    color: white; /* Cambiar el color del texto a blanco */
    border: none; /* Eliminar el borde */
    /* Centrar el botón horizontalmente en su contenedor */
    margin: 0 auto;
    border-radius: 10px;
    display: block; /* Convertirlo en un elemento de bloque para centrarlo */
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .p1{
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
    color: rgb(3, 39, 3);
  }
   .p2{
    font-family: 'Bricolage Grotesque', sans-serif;
    margin-left: 10px;
    font-size: 20px;
   }

   .p3{
     font-family: 'Red Hat Display', sans-serif;
     margin-left: 10px;
     font-size: 13px;
   }

   .price{
    font-family: 'Fraunces', serif;
    margin-left: 10px;
    font-size: 30px;
    color:rgb(1, 117, 117);
    margin-top: 50px;
   }

   .discounted {
    font-size: 13px;
    color:rgb(52, 53, 53);
    text-decoration: line-through;
    top: -10px;
    position: relative;
  }

  
   
  